<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WikiSim - Editar Página</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <h1>Editar Página</h1>
  <form action="/cgi-bin/edit.pl?id=<%= $id %>" method="post">
    <label for="content">Contenido:</label>
    <textarea id="content" name="content" rows="10" required><%= $content %></textarea>
    <button type="submit">Guardar Cambios</button>
  </form>
  <a href="../cgi-bin/list.pl">Volver al Listado</a>
</body>

</html>