<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WikiSim - Inicio</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <h1>Bienvenido a WikiSim</h1>
  <p>Nombre: Nikole Valery Salas Idme</p>
  <p>Curso: Programación Web 1</p>
  <p>Grupo: X</p>
  <nav>
    <ul>
      <li><a href="../cgi-bin/list.pl">Listar Páginas</a></li>
      <li><a href="../cgi-bin/new.pl">Crear Nueva Página</a></li>
    </ul>
  </nav>
</body>

</html>