<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WikiSim - Nueva Página</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <h1>Crear Nueva Página</h1>
  <form action="/cgi-bin/new.pl" method="post">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" required>
    <label for="content">Contenido:</label>
    <textarea id="content" name="content" rows="10" required></textarea>
    <button type="submit">Crear Página</button>
  </form>
  <a href="/cgi-bin/list.pl">Volver al Listado</a>
</body>

</html>